body {
    background-color: #fefcca;
}

.navbar{
    background-color: #F2A541;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -10px;
    /* position: fixed; */
    position: sticky;
    top: 0;
    left: 0;
}


.text-logo {
    margin-bottom: 20px;
    margin-left: 50px;
    transform: rotate(-3deg);
    display: inline-block;
    margin-right: 8px;
}

.pic-logo {
    margin-top: 15px;
    margin-bottom: 12px;
    margin-left: 40px;
    margin-right: 15px;
}

.nav-tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: 10px;
    margin-bottom: 35px;
    display: inline-block;
    background-color: #F2A541;
    color:white;

}
  
li {
    float: left;
}
  
.nav-tabs li a {
    padding: 8px;
    background-color: #F2A541;
    color: white;
    text-decoration: none;
    margin-right: 50px;
    margin-left: 50px;
    font-size: 17px;
    font-family: 'Space Grotesk', sans-serif;
}

#fire-ring {
    margin-left: 570px;
    margin-top: 10px;
}

#hoops-text {
    margin-top: -225px;
    margin-left: 41.5%;
    font-size: 19px;
    font-family: 'Space Grotesk', sans-serif;
}

#next-meal-text{
    margin-top: 0px;
    margin-left: 38%;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 37px;
}
#more-slogan {
    margin-top: 200px;
    background-color: #fefcca;
    margin-left: 38%;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 19px;
}

#more-slogan-list{
    list-style-type: none;
}

#footer{
    position: sticky;
    bottom:0px;
    top: 0;
    left: 0;
    margin: -10px;    
}

#more{
    margin-left: 45%;
    margin-top: 100px;
}

#austin-skyline{
    /* position:fixed; */
    /* bottom:0px;
    top: 0;
    left: 0; */
    display: block;
}

.title{
    margin-left: 40%;
    font-family: 'Space Grotesk', sans-serif;
}

#side-bar{
    background-color: #D78A76;
    float:right;
    right: 50px; 
    margin-bottom: 100px;
    transition: 0.3s; /* Add transition on hover */
    margin-right: 40px;
    font-family: 'Space Grotesk', sans-serif;
    height: 978px;
    width: 259px;
}

.text-side{
    margin-left: 10px;
    margin-right: 10px;
}

#eat{
    margin-left: 80px;
    border-radius: 5px;
    background-color: #F2A541;
    padding: 10px;
    text-decoration: none;
    color:#fefcca;
    font-family: 'Space Grotesk', sans-serif;
}

#type-in{
    font-family: 'Space Grotesk', sans-serif;
    margin-left: 44%;
    margin-top: 50px;
}

#search-bar{
    margin-left: 33%;
    width: 500px;
    height: 26px;
    border-radius: 7px;
}

#map-find{
    margin-top: 50px;
    margin-left: 300px;
    width: 700px;
    visibility: hidden;
}